@import url("https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@600&family=Luckiest+Guy&display=swap");
/* || Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

/* || Header and Main Navigation */
.header {
  display: flex;
  flex-direction: column;
}

.logo {
  align-self: center;
  font-family: "Luckiest Guy", cursive;
  font-size: 3rem;
  margin-top: 15px;
  margin-bottom: 10px;
}

.nav {
  font-size: 1.6rem;
  text-transform: uppercase;
  background-color: black;
  text-align: center;
}
.nav__list {
  list-style: none;
}
.nav__item {
  width: 100%;
}
.nav__link {
  text-decoration: none;
  padding: 15px;
  display: block;
  color: white;
}
.nav__link:hover {
  background-color: grey;
}

/* || Main Content */
.hero {
  position: relative;
}
.hero__overlay {
  text-align: center;
  position: absolute;
  width: 100%;
}
.hero__header {
  margin-top: 10px;
  font-family: "Expletus Sans", cursive;
  font-size: 9vw;
  color: #fff;
}
.hero__image {
  width: 100%;
}

.destination-cards__header {
  margin: 10px;
  text-align: center;
  font-size: 8vw;
}
.destination-cards__container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  gap: 20px;
}

.destination-card {
  height: 360px;
  border-radius: 10px;
  padding: 1.5rem;
  background: #fff;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 1px 7px 10px 0px rgba(0, 0, 0, 0.5);
}
.destination-card:hover {
  transform: translateY(20px);
}
.destination-card:hover::before {
  opacity: 1;
}
.destination-card:hover .destination-card__info {
  opacity: 1;
  transform: translateY(0px);
}
.destination-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}
.destination-card__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
}
.destination-card__info {
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
}
.destination-card__title {
  font-size: 3rem;
}
.destination-card__copy {
  font-size: 2rem;
  font-style: italic;
  margin-top: 8px;
}

.testimonials__header {
  margin: 10px;
  text-align: center;
  font-size: 8vw;
}
.testimonials__container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.testimonial {
  border-radius: 20px;
  box-shadow: 1px 7px 10px 0px rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 20px;
}
.testimonial__header {
  text-align: center;
}
.testimonial__avatar {
  border-radius: 50%;
  border: 5px solid #000;
  height: 160px;
  width: 160px;
}
.testimonial__title {
  margin: 10px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 2rem;
}
.testimonial__subtitle {
  color: #555;
  margin: 0;
  letter-spacing: 1px;
  font-size: 1.5rem;
}
.testimonial__body {
  padding: 20px;
}
.testimonial__text {
  font-size: 2rem;
  line-height: 1.8;
}

/* || Media Queries */
@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    justify-content: space-around;
  }

  .destination-cards__container {
    grid-template-columns: 1fr 1fr;
  }

  .testimonials__container {
    flex-direction: row;
  }
}/*# sourceMappingURL=style.css.map */